
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<Product>
<h1> Ürün listesi</h1>
<a asp-controller="products" asp-action="AddProduct">Ürün ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>İd</th>
            <th>İsim</th>
            <th>Fiyat</th>
            <th>Stok</th>
            <th>Silme</th>
            <th>Güncelleme</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Stock</td>
                <td><a asp-controller="products" asp-action="DeleteProduct" asp-route-id="@item.Id">Sil</a></td>
                <td><a asp-controller="products" asp-action="UpdateProduct" asp-route-id="@item.Id">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
